.nav-cnt {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-logo-cnt {
  padding-left: 70px;
}

.nav-second-cnt {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.nav-empty-cnt {
  width: 100%;
  max-width: 600px;
  height: 1px;
  border: 1px solid white;
  position: absolute;
  right: 48%;
}

.nav-btn-cnt {
  border: 1px solid black;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: rgb(50, 45, 45);
  opacity: 0.4;
}

.nav-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: rgb(240, 242, 245);
  text-decoration: none;
  height: 60px;
}

.nav-btn:hover {
  border-bottom: 4px solid white;
}

.active {
  border-bottom: 4px solid white;
}

.navLink-mobile-view {
  display: none;
}

@media screen and (max-width: 1260px) {
  .nav-empty-cnt {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-cnt {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
  }

  .navLink-mobile-view {
    position: absolute;
    display: block;
  }

  .navLink-mobile-main-btn-cnt {
    display: flex;
  }

  .nav-btn-cnt {
    display: none;
  }

  .nav-empty-cnt {
    display: none;
  }
  .nav-logo-cnt {
    padding-left: 30px;
  }

  .nav-btn-cnt-mobile {
    width: 250px;
    height: 600px;
    padding-left: 25px;
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 88%;
    right: 10%;
  }

  .mobile-view-btn {
    font-size: 22px;
  }
}
