.nav-cnt {
  padding-top: 22px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  justify-content: space-between;
  position: relative;
}

.nav-logo-cnt {
  border: 1px solid black;
  border-radius: 50%;
}

.nav-empty-cnt {
  position: absolute;
  right: 48%;
  width: 500px;
  height: 1px;
  border: 1px solid white;
}

.nav-second-cnt {
  display: flex;
  align-items: center;
}

.nav-btn-cnt {
  display: flex;
  align-items: center0;
  justify-content: space-around;
  border: 1px solid black;
  background-color: black;
  opacity: 0.5;
  width: 770px;
  height: 60px;
}

.nav-btn {
  border: none;
  background-color: transparent;
  color: aliceblue;
}
