@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bruno+Ace+SC&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@1,200&display=swap');

.home-cnt {
  background-image: url('../../assets/destination/background-desktop.jpg');
  height: 100vh;
}

.home-main-info-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
  align-items: center;
}

.home-txt-cnt {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-first-txt-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-heading {
  color: aliceblue;
  font-size: 82px;
  font-family: 'Abril Fatface', cursive;
}

.home-intro-txt {
  color: aliceblue;
  font-size: 16px;
  font-family: 'Abril Fatface', cursive;
}

.home-second-txt-cnt {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.home-second-txt-cnt-info {
  color: aliceblue;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

.home-explore-cnt {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-explore-cnt:hover {
  animation: morph 2s infinite;
}

.explore-txt {
  font-size: 18px;
  font-family: 'Abril Fatface', cursive;
}

.home-second-txt-cnt {
  padding-left: 45px;
}

@keyframes morph {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(204, 163, 88);
  }
  100% {
    background-color: orange;
    box-shadow: 0 0 24px orange;
  }
  50% {
    background-color: orange;
    box-shadow: 0 0 44px orange;
  }
  25% {
    background-color: orange;
    box-shadow: 0 0 84px orange;
  }
  0% {
    background-color: orange;
    box-shadow: 0 0 84px orange;
  }
}
